/* #D6CAC7  light beige color */
/* #75645F  brown bear color */
/* #2CCAD6  bright blue color */
/* #ABA09D  mid beige color */
/* background-color: #282c34; React Navy */

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.logo {
  max-height: 60vmin;
  pointer-events: none;
}
