@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Markazi+Text&family=Playfair+Display:wght@600&display=swap');

.homeContainer {
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
  width: 100%;
  min-height: 100vh;
}


.navigateMain:hover {
  border-bottom: 2px solid orange;
  border-right: 2px solid orange;
  border-radius: 4px;
}

.navContainer{
  display: flex;
  justify-content: right;
  font-family: 'Lato', sans-serif;
  color: #73e5ed;
  background-color: #334455;
  width: 100%;
}

.navbar {
  padding: 10px;
}

.mainContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40%;
  height: 100%;
}

.menu-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  align-items: center;
  height: 100%;
}

.row {
  text-decoration: none;
  color: #D6CAC7;
  font-size: 2.5vmax;
  width: 100%;
}

@media screen and (max-width:575px) {
	.row{ font-size:3.5vw;}
}