@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Markazi+Text&family=Playfair+Display:wght@600&display=swap');

.navContainer{
  display: flex;
  align-items: center;
  justify-content: right;
  font-family: 'Lato', sans-serif;
  color: #73e5ed;
  list-style: none;
}

.navbar {
  padding-right: 20px;
  list-style: none;
}

.main {
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 85%;
  font-family: 'Playfair Display', serif;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  text-decoration: none;
  color: #D6CAC7;
  font-size:3vw;
}

@media screen and (min-width:1600px) {
	.row{ font-size:2vw; }
  .gridContainer{ width: 80%;}
}

@media screen and (max-width:575px) {
	.row{ font-size:2.5vw;}
  .gridContainer{ width: 100%;}
}
